.text-gradient.text-info {
  background-image: linear-gradient(310deg, #956023, #FF9921);
}

.bg-gradient-info {
  background-image: linear-gradient(310deg, #956023, #FF9921) !important;
}

.form-switch .form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}

.primaryColor {
  color: #FF9921;
}

.primaryBg {
  background-color: #FF9921 !important;
}