.navbar-vertical.navbar-expand-xs .navbar-collapse {
  height: 100vh;
}

.icon-shape i {
  color: #344767;
  opacity: 1;
}

.bg-gradient-primary.icon-shape i, .bg-gradient-info.icon-shape i, .bg-gradient-warning.icon-shape i, .bg-gradient-danger.icon-shape i {
  color: #fff;
  opacity: 1;
}

.icon-sm i {
  font-size: 12px;
}
