.nav-wrapper .nav-pills{
    background-color: #DADADB;;
}

.nav-wrapper .nav-pills a{
    color: #575758;
    font-size: 12px;
}

.linha-add {
    padding: 16px; 
    background-color: #EEEEEE;
    border-radius: 8px;
}