.table-action {
    background-color: #ccc;
    padding: 8px;
    border-radius: 4px;
}

.table-action.edit {
    background-color: green;
}

.table-action.delete {
    background-color: red;
}

.table-action i{
    font-size: 16px;
    color: #fff;
}

span.ball {
    display: block; 
    height: 8px; 
    width: 8px; 
    border-radius: 10px;
}

span.ball.active {
    background-color: #0da100;
}

span.ball.inactive {
    background-color: #d90707;
}

.table tbody td {
    padding: 0.75rem 1.5rem;
}