.pagination {
  display: flex;
  justify-content: right;
  list-style: none;
  padding: 0;
  margin-top: 32px;
  padding-right: 24px;
}

.pagination li {
  margin-right: 5px;
}

.pagination li a,
.pagination li span {
  padding: 5px 10px;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
}

.pagination li.active span {
  background-image: linear-gradient(310deg, #956023, #FF9921) !important;
  color: #fff;
  border-color: #FF9921;
}

.page-item.active .page-link {
  background-image: linear-gradient(310deg, #956023, #FF9921) !important;
  color: #fff;
  border-color: transparent;
}